/* Custom site-wide CSS */

.bowfolio-green {
  color:  #104732;
  isolation: isolate;
}

.landing-green-background {
  background-color: #0d400b;
  color: white;
  padding-top: 20px;
}
.landing-picture-background {
  background-color: white;
}

#font-type-inter-header {
  font-family: 'Inter', sans-serif;
  font-size: 10em;
}

#font-type-inter-sub {
  font-family: 'Inter', sans-serif;
  font-size: 1.5em;
}

.homedr-picture-background {
  background: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/EyvF0jkPg/videoblocks-drone-turns-right-over-beautiful-mountain-road-aerial-top-view-of-summer-serpentine-empty-driveway-4k-background-shot_hx7f8hidg_thumbnail-1080_01.png") no-repeat center center fixed;
  background-size: cover;
}

 .darkmode-toggle {
  z-index: 500;
}

.landing-person-background {
  background: url("https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_3810,h_1288/v1613521692/assets/d9/ce6c00-32b0-4b93-9f0d-6f927d93da08/original/Rider_Home_bg_desktop2x.png") no-repeat center center fixed;
  background-size: cover;
  isolation: isolate;
}

.landing-driver-background {
  background: url("https://ridesharkdata.rideshark.com/CustomSiteGraphics/RideShark/UploadedFiles/Images/mobile-slide-2.jpg") no-repeat center center fixed;
  background-size: cover;
  isolation: isolate;
}

.ui.green.ribbon.label, .ui.red.ribbon.label {
  z-index: 500;
}

.darkmode--activated p, .darkmode--activated .ui.rating .active.icon:before, .darkmode--activated .ui.header, .darkmode--activated .ui.menu .item   {
  color: #fffefeb3;
}

.darkmode--activated .ui.rating .icon:before {
  color: rgba(112, 112, 112, 0.7);
}


#account-page, h2.ui.header, h4.ui.header, h5.ui.header, h1.ui.header, .ui.sub.header, p {
  font-family: Barlow, serif;
}

#login-dropdown, #login-dropdown-sign-in, #login-dropdown-sign-upogin-dropdown-sign-up {
  z-index: 500;
}

.landing-white-background {
  background-color: white;
  color: #104732;
  padding-top: 20px;
}

.reset-margins {
  margin-top: 0;
  margin-bottom: 0;
}

.cardImg {
  height: auto;
  max-height: 50px;
  width: auto;
  max-width: 20px;
}

.userImg {
  height: auto;
  max-height: 300px;
  width: auto;
}
