/* Custom site-wide CSS */

.bowfolio-green {
  color:  #104732;
}

.landing-green-background {
  background-color: #104732;
  color: white;
  padding-top: 20px;
}

.landing-white-background {
  background-color: white;
  color: #104732;
  padding-top: 20px;
}

.reset-margins {
  margin-top: 0;
  margin-bottom: 0;
}
